@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.margin{
    position: absolute;
    top: -1.6in;
    height: 230px;
    width: 100%;
    z-index: 33;
    opacity: 0.3;
}

.container{
    position: relative;
    top: 10px;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container p{
    position: relative;
    font-weight: 800;
  }
  
  .login_box{
    position: relative;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 10%;
    padding-top:30px;
   border-radius: 50%;
    box-shadow: 0px -10px 30px 0px darkgrey;
    border: 2px solid var(--text-color-primary);
  }


  .login_box h1{
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 10px;
    padding: 13px 0;
    font-size: 22px;
  }
  .username, .password{
    background: none;
    display: block;
    text-align: center;
    width: 250px;
    border: 2px solid #0ae2f3;
    margin: 17px auto;
    padding: 17px 8px;
    outline: none;
    border-radius: 50px;
    transition: 0.25s;
    font-size: 20px;
    font-weight: 800;
  }
  .btn{
  display: block;
  background: none;
  text-align: center;
  width: 200px;
  border: 2px solid #fe9d07;
  margin: 17px auto;
  padding: 15px 5px;
  outline: none;
  border-radius: 50px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  }
  .username:hover{
    width: 330px;
    border-color: #A301DA;
  }
  .password:hover{
    width: 350px;
    border-color: #A301DA;
  }
.btn:hover{
    background: #fe9d07;
    color:#333;
  }
@media(max-width: 800px){
  .login_box{
    top: 1%;
    padding-top:30px;
   border-radius: 50%;
    box-shadow: 0px -10px 30px 0px darkgrey;
    border: 2px solid var(--text-color-primary);
  }
}
@media(max-width: 600px){
  .margin{
    position: relative;
    margin-top: -30px;
    height: 250px;
    width: 100%;
    z-index: 2;
  }
  .login_box{
    top: -2.5in;
  }
  .container{
    height: 60vh;
  }
  
}


  @media (max-width: 500px){
    .container{
      height: 35vh;
    }
    .margin{
      position: relative;
      margin-top: -30px;
      height: 250px;
      width: 100%;
      z-index: 33;
    }
    
    .login_box{
        top: -2.4in;
      left: 80px;
      width: 300px;
      height: 330px;

    }
    .login_box h1{
      font-weight: 400;
      margin-bottom: 5px;
      padding: 5px 0;
      font-size: 15px;
    }
    .username, .password{
      width: 200px;
      margin: 12px auto;
      padding: 10px 4px;
      outline: none;
      border-radius: 50px;
      transition: 0.25s;
      font-size: 15px;
      font-weight: 600;
    }
    .btn{
      width: 130px;
      margin: 15px auto;
      padding: 10px 4px;
      font-size: 12px;
      margin: 12px auto;
      font-weight: 300;
    }

  }

  @media (max-width: 430px){
    .login_box{
      left: 60px;
    }
  }
  @media (max-width: 390px){
    .login_box{
      left: 50px;
    }
  }
  @media (max-width: 370px){
    .login_box{
      left: 30px;
    }
  }
  @media (max-width: 330px){
    .login_box{
      top: -4in;
      left: 10px;
    }
    .margin{
      position: absolute;
      top: 0;
      height: 200px;
      width: 100%;
      z-index: 33;
    }
    .container{
      height:20vh;
    }
  }
  .themeSwitcher {
    position: absolute;
    top: 0;
    border: none;
    background-color: transparent;
    color: var(--text-color-secondary);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    padding: 0 20px 0 20px;
  }
 
  .google{
    position: relative;
    bottom: 1%;
  }
  .center{
    position: absolute;
    transform: translate(-50%, -50%);
    right: 30px;
    transform: rotate(90deg);
  }
  .small{
    position: absolute;
    font-size: 11px;
    right: 3px !important;
    padding-bottom: 15px;
  }
  .tick{
    position: relative;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 11px;
    -webkit-appearance: none;
    background: #A301DA;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
  }
  .tick:checked{
    background:#fe9d07;
  }
  .tick:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #473F49;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
  }
  .tick:checked:before{
    left: 18px;
  }
  .tick:before:hover{
    background: crimson;
  }
  .container .link{
    position: relative;
    bottom: 5px;
  }
  .container .link a{
    font-family: 'Dancing Script', cursive;
  }
  .container .link a:hover{
   color: #fe9d07;
  }