.container{
    position: absolute;
    top: 30%;
    width: 100%;
    justify-content: center;
    text-align: center;
}
  .cont{
    position: relative;
    top: 20%;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 80%;
  }
  
  .con{
    position: relative;
  }