@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.margin{
    position: absolute;
    margin-top: 100px;
    height: 100px;
    width: 100%;
    z-index: 33;
    top: 0;
    top: -1in;
}

.container{
    position: relative;
    top: -1.2in;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container p{
    position: relative;
    font-weight: 800;
  }
  
  .login_box{
    position: relative;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 20%;
    padding-top:20px;
   border-radius: 50%;
    box-shadow: 0px -10px 30px 0px darkgrey;
    border: 2px solid var(--text-color-primary);
  }


  .login_box h1{
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 10px;
    padding: 8px 0;
    font-size: 22px;
  }
  .username, .password{
    background: none;
    display: block;
    text-align: center;
    width: 180px;
    border: 2px solid #0ae2f3;
    margin: 17px auto;
    padding: 9px 3px;
    outline: none;
    border-radius: 50px;
    transition: 0.25s;
    font-size: 20px;
    font-weight: 800;
  }
  .btn{
  display: block;
  background: none;
  text-align: center;
  width: 100px;
  border: 2px solid #fe9d07;
  margin: 10px auto;
  padding: 8px 3px;
  outline: none;
  border-radius: 50px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
  }
  .username:hover{
    width: 300px;
    border-color: #A301DA;
  }
  .password:hover{
    width: 300px;
    border-color: #A301DA;
  }
.btn:hover{
    background: #fe9d07;
    color:#333;
  }

  @media (max-width: 520px){
    .container{
      height: 85vh;
    }
    .login_box{
      left: 80px;
      width: 350px;
      height: 400px;
    }
    .username, .password{
      width: 150px;
      margin: 10px auto;
      padding: 9px 3px;
      border-radius: 50px;
      font-size: 15px;
      font-weight: 500;
    }
    .btn{
      width: 100px;
      border: 2px solid #fe9d07;
      margin: 3px auto;
      padding: 8px 3px;
      outline: none;
      font-size: 12px;
      font-weight: 400;
      width: 80px;
    }
    .username:hover{
      width: 200px;
      border-color: #A301DA;
    }
    .password:hover{
      width: 200px;
      border-color: #A301DA;
    }
  .btn:hover{
    width: 150px;
      background: #fe9d07;
      color:#333;
    }
  }

  
  @media (max-width: 460px){
    .login_box{
        left: 50px;
        width: 350px;
        height: 400px;
      
    }
  }
  @media (max-width: 408px){
    .login_box{
        left: 27px;
        width: 350px;
        height: 400px;
      
    }
  }

  @media (max-width: 390px){
    .login_box{
        left: 20px;
        width: 340px;
        height: 400px;
      
    }
  }
  @media (max-width: 360px){
    .login_box{
        left: 10px;
        width: 330px;
        height: 400px;
      
    }
  }
  @media (max-width: 340px){
    .container{
      height: 20vh;
      top: -4in;
  
    }
    .login_box{
        left: 1px;
        width: 330px;
        height: 400px;
      
    }
  }
  .themeSwitcher {
    position: absolute;
    top: 0;
    border: none;
    background-color: transparent;
    color: var(--text-color-secondary);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    padding: 0 20px 0 20px;
  }
 
  .google{
    position: relative;
    bottom: 1%;
  }
  .center{
    position: absolute;
    transform: translate(-50%, -50%);
    right: 30px;
    transform: rotate(90deg);
  }
  .small{
    position: absolute;
    font-size: 11px;
    right: 3px !important;
    padding-bottom: 15px;
  }
  .tick{
    position: relative;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 11px;
    -webkit-appearance: none;
    background: #A301DA;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
  }
  .tick:checked{
    background:#fe9d07;
  }
  .tick:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #473F49;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
  }
  .tick:checked:before{
    left: 18px;
  }
  .tick:before:hover{
    background: crimson;
  }
  .container .link{
    position: relative;
    bottom: 5px;
  }
  .container .link a{
    font-family: 'Dancing Script', cursive;
  }
  .container .link a:hover{
   color: #fe9d07;
  }