@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --text-color: #124a63;
  --text-color-secondary: #466a80;
  --text-color-primary: #8c08c4;
  --text-color-shadow: #25023b;
  --primary-color: #34524a;

  --text-color-a: #2de336;
  --text-color-b: #c70c28;
  --text-color-c: #913406;
  --text-color-d: #07753c;
  --text-color-e: #0f0fd9;
  --text-color-f: #491054;

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: white;
  --background-color-box: linear-gradient(99deg, rgba(208,236,233,1) 0%, rgba(233,232,238,1) 82%, rgba(190,235,176,1) 100%);

  --font-family: "Poppins", sans-serif;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
  --text-color: #f0f0f0;
  --text-color-secondary: #b3c5cd;
  --text-color-primary: #ed8805;
  --text-color-shadow: #754405;
  --primary-color: #b5bbc7;

  --text-color-a: #0f0fd9;
  --text-color-b: #c907f0;
  --text-color-c: #10dceb;
  --text-color-d: #bfd613;
  --text-color-e: #eb7e09;
  --text-color-f: #33eb09;

  --background-color: #252329;
  --background-color-box: linear-gradient(99deg, rgba(68,80,79,1) 0%, rgba(79,119,79,1) 100%, rgba(155,180,168,1) 100%);
  --background-color-dark: #3c393f;
  --background-color-light: #120f13;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}