/* 
.menu-btn{
    margin: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 50px;
  height: 50px;
  cursor:pointer;
  transition: all .5s ease-in-out;
  border: 3px solid #1a1421;
  }
  
  .menu-btn_burger{
  width: 30px;
  height: 6px;
  background: #1a1421;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  
  }
  
  .menu-btn_burger::before,
  .menu-btn_burger::after{
  content:'';
  position: absolute;
  width: 30px;
  height: 6px;
  background: #1a1421;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  }
  .menu-btn_burger::before{
  transform: translateY(-12px);
  }
  
  .menu-btn_burger::after{
  transform: translateY(16px);
  }
  
  .menu-btn.open .menu-btn_burger{
        transform: rotate(45deg) transltateX(-50px);
        background: transparent;
        box-shadow: none;
  }
  .menu-btn.open .menu-btn_burger::before{
    transform: rotate(90deg) translate(1px, -1px);
  }
  .menu-btn.open .menu-btn_burger::after{
    transform: rotate(-1deg) translate(1px, 1px);
  }
   */